.uni-button {
    border-radius: 50px;
    padding: 5px 20px;
    font-weight: 400;
    background-color: #00a63e;
    color: white;
    font-size: 14px;
}

.nav-button {
    border-radius: 50px;
    padding: 5px 20px;
    font-weight: 400;
    background-color: #dfffeb;
    color: white;
    font-size: 14px;
}
.banner{
    background: #006747;
background: radial-gradient(circle, rgba(0, 103, 71, 1) 0%, rgba(1, 50, 35, 1) 100%);
}

.hi {
    color: #86ffb2;
}