/* google font inter  */
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* buttons design  */
.uni-button {
    border-radius: 50px;
    padding: 5px 20px;
    font-weight: 400;
    background-color: #00a63e;
    color: white;
    font-size: 14px;
}

.nav-button {
    border-radius: 50px;
    padding: 5px 20px;
    font-weight: 400;
    background-color: #dfffeb;
    color: white;
    font-size: 14px;
}

.card-button-primary {
    width: 100%;
    border-radius: 7px;
    padding: 4px 20px;
    font-weight: 400;
    background-color: #00a63e;
    color: white;
    font-size: 14px;
}

.card-button-transparent {
    width: 100%;
    border-radius: 7px;
    padding: 3px 20px;
    font-weight: 400;
    color: #646464;
    font-size: 14px;
    border: 1px solid #646464;
}

/* bannder background color  */
.banner {
    background: #006747;
    background: radial-gradient(circle, rgba(0, 103, 71, 1) 0%, rgba(1, 50, 35, 1) 100%);
}
/* card section  */
.card-heart {
    color: #8d8d8d;
}
.card-logo-bg{
    background-color: #ffdada;
}
.card-secondary-text{
    color: #777777;
    font-size: 10px;
}
.card-chatagory{
    font-size: 10px;
    padding: 4px 10px;
    background-color: #dddddd;
    display: inline-block;
    border-radius: 10px;
}

.hi {
    color: #dbfff3;
}